.search-result-div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color);
  overflow-y: scroll;
  position: relative;
}

.search-result-div::-webkit-scrollbar {
  border-radius: 6px;
  width: 12px;
}

.search-result-div::-webkit-scrollbar-track {
  background: rgb(97, 93, 93);
  border-radius: 6px;
}

.search-result-div::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75);
  border-radius: 6px;
}

.search-result-div::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

.search-result-header {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.logo-search-bar {
  width: 62vw;
  height: 46px;
  display: flex;
  align-items: center;
}

.logo-search-bar p {
  font-size: 28px;
  font-weight: 500;
  color: white;
}

.logo-search-bar a {
  text-decoration: none;
  padding: 0px 28px 0px 30px;
}

.logo-search-bar .search-input {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hover-color);
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  margin-left: 27px;
}

.logo-search-bar .search-input:hover {
  background-color: var(--hover-color);
  box-shadow: 0 4px 12px rgb(23 23 23 / 90%);
  border-color: rgba(223, 225, 229, 0);
}

.logo-search-bar .search-icon-1,
.search-icon-2 {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-search-bar .search-icon-1 svg,
.search-icon-2 svg {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.logo-search-bar .search-icon-1 {
  padding: 0px 8px;
}

.logo-search-bar .search-icon-2 {
  padding: 0px 13px 0px 0px;
}

.logo-search-bar .search-input input {
  width: 85%;
  height: 39px !important;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  padding-left: 18px;
  padding-right: 10px;
  line-height: 39px;
  letter-spacing: normal;
  cursor: text;
}

.logo-search-bar .clear-text {
  height: 26px;
  width: 42px;
  display: flex;
  align-items: center;
}

.logo-search-bar .clear-text svg {
  height: 26px;
  width: 26px;
  color: var(--button-color);
  padding-right: 8px;
  cursor: pointer;
  font-size: 34px;
  border-right: 1px solid var(--border-color);
}

.settings-menu {
  width: 168px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 12px;
}

.settings-menu .settings-icon-1,
.settings-icon-2 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.settings-menu svg {
  height: 24px;
  width: 24px;
  color: var(--color);
}

.settings-menu .settings-icon-1::after {
  content: "Settings";
  width: fit-content;
  padding: 4px;
  position: absolute;
  bottom: -24px;
  left: -5px;
  visibility: hidden;
  white-space: nowrap;
  font-size: 12px;
  background-color: var(--border-color);
  border-radius: 5px;
  text-align: center;
}

.settings-menu .settings-icon-2::after {
  content: "Google apps";
  padding: 4px;
  position: absolute;
  bottom: -24px;
  left: -10px;
  visibility: hidden;
  white-space: nowrap;
  font-size: 12px;
  background-color: var(--border-color);
  border-radius: 5px;
  text-align: center;
}

.settings-menu .settings-icon-1:hover::after {
  visibility: visible;
}

.settings-menu .settings-icon-2:hover::after {
  visibility: visible;
}

.settings-menu .settings-icon-1:hover,
.settings-icon-2:hover {
  background-color: #3c4043;
}

.settings-profile {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.settings-menu a {
  text-decoration: none;
  color: var(--color);
}

.settings-menu .login-button {
  cursor: pointer;
  height: 24px;
  border: 1px solid var(--border-color);
  font-size: 14px;
  margin: 6px;
  padding: 6px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 4px;
}

.settings-menu .login-button:hover {
  background-color: var(--hover-color);
}

.settings-menu .settings-profile img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
  margin: 6px;
}

.search-result-toolbar {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--hover-color);
}

.search-tool {
  color: var(--button-color);
  margin-left: 24px;
  font-size: 14px;
  cursor: pointer;
}

.safe-search {
  color: var(--button-color);
  margin-left: 24px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}

.search-content {
  height: 500px;
  width: 100%;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-menu-container-2 {
  position: absolute;
  top: 82px;
  right: 16px;
  height: 350px;
  width: 315px;
  background-color: var(--hover-color);
  z-index: 2;
  box-shadow: -1px 2px 7px 0px #0c0303;
  border-radius: 6px;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
}

.app-menu-container-2::-webkit-scrollbar {
  border-radius: 6px;
  width: 12px;
}

.app-menu-container-2::-webkit-scrollbar-track {
  background: var(--hover-color);
  border-radius: 6px;
}

.app-menu-container-2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.app-grid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-evenly;
}

.app-grid .grid-item {
  width: 50px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.app-grid .grid-item:hover {
  background-color: #22232469;
}

.app-grid .grid-item .grid-item-p {
  font-size: var(--text-size-14);
  color: var(--text-color);
  margin: 12px 0;
}

.app-grid .grid-item .grid-item-icon {
  height: 42px;
  width: 42px;
}
