.toolbar-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 662px;
  height: 55px;
  white-space: nowrap;
}

.toolbar-main a {
  display: flex;
  align-items: center;
  color: var(--button-color);
  text-decoration: none;
  font-size: 14px;
}

.toolbar-main p {
  margin-left: 4px;
}

.active-toolbar {
  border-bottom: 2px solid var(--text-color-2);
  color: var(--text-color-2);
}
